VITE_SUPABASE_URL=https://vjvipmdkmfupptgcfyev.supabase.co/rest/v1/
VITE_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZqdmlwbWRrbWZ1cHB0Z2NmeWV2Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3ODI3OTY2MDQsImV4cCI6MjA5ODM3MjYwNH0.3u-NCeuN3a1NP1ZlQ_etGwubWchFPcT5ptottRxTEb4
